
<div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <form class="form-signin" (ngSubmit)="register()">
          <h2 class="form-signin-heading">Register user</h2>
          <label for="name" class="sr-only">Name</label>
          <input type="text" id="name" class="form-control" name="name" [(ngModel)]="user.name" placeholder="Name"
            required autofocus>
          <label for="surname" class="sr-only">Surname</label>
          <input type="surname" id="surname" class="form-control" name="surname" [(ngModel)]="user.surname" placeholder="Surname"
            required>
          <label for="email" class="sr-only">Email</label>
          <input type="email" id="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" class="form-control" name="email" [(ngModel)]="user.email" placeholder="Email"
              required autofocus>
          <label for="username" class="sr-only">Username</label>
          <input type="text" id="username" class="form-control" name="username" [(ngModel)]="user.username" placeholder="Username"
                  required autofocus>
          <label for="password" class="sr-only">Password</label>
          <input type="password" id="password" class="form-control" name="password" [(ngModel)]="user.password" placeholder="Password"
                          required autofocus>
          <label for="repeatedPassword" class="sr-only">Password</label>
          <input type="password" id="repeatedPassword" class="form-control" name="repeatedPassword" [(ngModel)]="repeatedPassword" placeholder="Enter password again"
                                        required autofocus>
          <button class="btn btn-primary btn-block" type="submit">Register</button>
        </form>
       <!--  <div *ngIf=success class="alert alert-warning box-msg" role="alert">
         Username already taken.
        </div>
        <div *ngIf=noInput class="alert alert-warning box-msg" role="alert">
          Please fill all fields.
         </div> -->
  
         <div *ngIf="message!==''">
            <ngb-alert [type]="type" >{{message}}</ngb-alert>  
          
        </div>
      </div>
     
      <div class="col-md-3"></div>
    </div>
  </div>
