

<div class="container">
   <input style="width: 150px;" type="text" id="field"  name="field" [(ngModel)]="field" placeholder="Enter text"
    required autofocus/>
    <button style="margin: 14px;" id = "search"class="btn btn-primary" (click)="search()">Search</button>
    <button id = "reset"class="btn btn-primary" (click)="reset()">Reset</button>
    <div *ngIf="message!==''">
        <ngb-alert [type]="type" >{{message}}</ngb-alert>  
    </div>
    <div *ngIf="message===''">
    <table class="table table-striped">
        <thead>
            <th>Title</th>
            <th>Authors</th>
        </thead>
        <tbody>
            <tr *ngFor="let work of scientificWorks" >
                <!-- <ngb-tab *ngIf="event.id && event.name && event.type && event.status && event.locationInfo">  -->
                <td>{{work.title}}</td>
                <td>author name</td>
        
                <td><button id = "button"class="btn btn-primary" (click)="open(work)">Open</button></td>
            <!-- </ngb-tab> -->
            </tr>
        </tbody> 
    </table>
<div>
</div>