<div class="row2" ng-controller="testController"
style="overflow-x: auto;">
    <div class="column left">
          <h2 class="form-signin-heading">Add new scientific work</h2>
          <h4 class="form-signin-heading">Title</h4>
          <label for="title" class="sr-only">Title</label>
          <input type="text" id="title" class="form-control" name="title" [(ngModel)]="title" placeholder="Title"
            required autofocus>
          <h4 class="form-signin-heading">Authors</h4>
          <label for="author" class="sr-only">Author name</label>
          <input type="text" id="author" class="form-control" name="author" [(ngModel)]="authorName" placeholder="Author name"
            required>
          <label for="authorSurname" class="sr-only">Author surname</label>
            <input type="text" id="authorSurname" class="form-control" name="author" [(ngModel)]="authorSurname" placeholder="Author surname"
              required>
            <label for="authorUniversityName" class="sr-only">Author university name</label>
            <input type="text" id="authorUniversityName" class="form-control" name="authorUniversityName" [(ngModel)]="authorUniversityName" placeholder="Author university name"
            required>
            <label for="authorUniversityAddress" class="sr-only">Author university address</label>
            <input type="text" id="authorUniversityAddress" class="form-control" name="authorUniversityAddress" [(ngModel)]="authorUniversityAddress" placeholder="Author university address"
            required>
            <button class="btn btn-primary btn-block" (click)="addAuthor()">Add author</button>
            <br/>
            <h4 class="form-signin-heading">Abstract</h4>
            <label for="purpose" class="sr-only">Purpose</label>
            <input type="text" id="purpose" class="form-control" name="purpose" [(ngModel)]="purpose" placeholder="Purpose"
            required>

            <label for="design" class="sr-only">Design</label>
            <input type="text" id="design" class="form-control" name="design" [(ngModel)]="design" placeholder="Design"
            required>

            <label for="findings" class="sr-only">Findings</label>
            <input type="text" id="findings" class="form-control" name="findings" [(ngModel)]="findings" placeholder="Findings"
            required>

            <label for="limitations" class="sr-only">Limitations</label>
            <input type="text" id="limitations" class="form-control" name="limitations" [(ngModel)]="limitations" placeholder="Limitations"
            required>

            <label for="originality" class="sr-only">Originality</label>
            <input type="text" id="originality" class="form-control" name="originality" [(ngModel)]="originality" placeholder="Originality"
            required>

            <label for="type" class="sr-only">Type</label>
            <input type="text" id="type" class="form-control" name="type" [(ngModel)]="type" placeholder="Type"
            required>

            <label for="keyword" class="sr-only">Keyword</label>
            <input type="text" id="keyword" class="form-control" name="keyword" [(ngModel)]="keyword" placeholder="Keyword"
            required>
            <button class="btn btn-primary btn-block" (click)="addKeyword()">Add keyword</button> 
            <br/>

            <h4 class="form-signin-heading">Paragraphs</h4>
            <label for="paragraph" class="sr-only">Paragraph</label>
            <textarea id="paragraph" class="form-control" name="paragraph" [(ngModel)]="authorParagraph" rows="4" cols="50" placeholder="Paragraph"></textarea>
            <!-- <input type="text" id="paragraph" class="form-control" name="paragraph" [(ngModel)]="paragraphs[numOfParagraphs-1]" placeholder="Paragraph"
            required> -->
            <button class="btn btn-primary btn-block" (click)="addParagraph()">Add paragraph</button>
            <br/>
            <h4 class="form-signin-heading">References</h4>
            <label for="reference" class="sr-only">References</label>
            <select name="reference" id="reference" multiple>
              <div *ngFor="let work of allPublished">
                <option value="work.id">work.title</option>
              </div>
            </select>
            <button class="btn btn-primary btn-block" (click)="addScientificWork()">Add scientific work</button>
            <div *ngIf="message!==''">
              <p style="color: red;">{{message}}</p>
          </div>
          <div *ngIf="messageSuccess!==''">
            <p style="color: green;">{{messageSuccess}}</p>
        </div>
    
          </div>
    <div class="column right">
            <h2 class="form-signin-heading">Cover letter</h2>
              <label for="cover_letter" class="sr-only">Cover letter</label>
              <textarea id="paragraph" class="form-control" name="cover_letter" [(ngModel)]="coverLetter" rows="4" cols="50" placeholder="Cover letter"></textarea>
      </div>
</div>
